*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body { 
    font-family: 'Tajawal', sans-serif; 
} 
/* landing */
.parallax-hero {
    background-image: linear-gradient(to left, rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('/assets/images/cover\ 2.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* why-us */
@keyframes bounce-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
}
.animate-bounce-slow {
    animation: bounce-slow 4s infinite ease-in-out;
}