*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body { 
    font-family: 'Tajawal', sans-serif; 
} 
/* landing */
.parallax-hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to left, rgba(0,0,0,0.7), rgba(0,0,0,0.3));
    z-index: 1;
}
/* why-us */
@keyframes bounce-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
}
.animate-bounce-slow {
    animation: bounce-slow 4s infinite ease-in-out;
}
/*  */